<main class="flex flex-wrap justify-center mb-3 ">

  <article *ngFor="let character of characters; let i = index">
    <section class="card card-compact w-64 hover:bg-primary shadow-xl m-4 dropdown character">
      <figure class="cursor-pointer">
        <img
        tabindex={{character.id}}
          class="w-64 "
          [src]="character.image"
          [alt]="character.name"
        />
      </figure>
      <section tabindex={{character.id}} class="card-body dropdown-content  grid grid-cols-3 grid-rows-2">
        <div class="col-span-2 ">

          <span class="card-title mb-2">{{ character.name }}</span>
          <span class="font-semibold">Species:</span> {{ character.species }}

        </div>
        <div class="mt-2">
          <span class="font-semibold">Status:</span>
          <section
            class="status ml-1 indicator-item badge badge-sm {{
              getBadgeStatusColor(character)
            }}"
          >
            {{ character.status }}
          </section>
        </div>
        <div class="col-span-3">
          <span class="mt-3 font-semibold">First seen in:</span> <br>
          <a class="cursor-pointer" [href]="getLocation(character.origin.url)">{{
            character.origin.name
          }}</a>
          <span class="mt-3 font-semibold">Last known location:</span> <br>
          <a class="cursor-pointer" [href]="getLocation(character.location.url)">{{
            character.location.name
          }}</a>
        </div>

      </section>
    </section>
  </article>
</main>
